<html ng-app="app" >
        <head>
            <title>Midterm Practice</title>
            <!-- include angular -->
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
            
            <script type="text/javascript" src="javascripts/app.js"></script>
            <link rel="stylesheet" type="text/CSS" href="stylesheets/style.css">
        </head>
    
        <body ng-controller="mainCtrl">
            <div>
                <h3>Person List</h3>
                <form ng-submit="vote()">
                    <p ng-repeat="person in persons">
                        <input type="checkbox" ng-model="person.selected"> - {{person.name}}
                    </p>
                    <button type="submit">Submit Votes</button>
                </form>
            </div>

            <div>
                <h3>Voted For:</h3>
                <p ng-repeat="x in voted">{{x.name}}</p>
            </div>
        </body>
    
    </html>